<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Speech Converter</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/givenText.css">
</head>
<body>
    <div class="form-wrapper">
        <form id="textForm" action="/convertToSpeech" method="post">
            <h1>Converter</h1>
            <input type="text" name="textInput" class="input-text" placeholder="Enter text here...." required>
            <button type="submit" class="btn-custom">Submit</button>
        </form>
        <div class="loading-overlay">
            <div class="loading-spinner"></div>
        </div>
    </div>
    
    <script>
        document.getElementById("textForm").addEventListener("submit", function () {
            document.querySelector(".loading-overlay").style.display = "flex";
        });
    </script>
</body>
</html>